@font-face {
  font-family: 'DuckSans Display';
  src: url('./fonts/DuckSansDisplay-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'DuckSans Display';
  src: url('./fonts/DuckSansDisplay-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'DuckSans Display';
  src: url('./fonts/DuckSansDisplay-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'DuckSans Product';
  src: url('./fonts/DuckSansProduct-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'DuckSans Product';
  src: url('./fonts/DuckSansProduct-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'DuckSans Product';
  src: url('./fonts/DuckSansProduct-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FAFAFA;
  font-family: 'DuckSans Product', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  height: 100vh;
  overflow: hidden;
}

#root {
  height: 100%;
  width: 100%;
}
